<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="blog(microblog)" th:object="${microblog}">

    <div class="fragment">

        <div class="blog-frag">

            <div class="blog-frag-header">
                <h4 th:text="*{author.name}" class="blog-frag-author"></h4>
                <span class="blog-frag-time small">2018年12月24日 18:00</span>
            </div>
            <div th:text="*{content}" class="blog-frag-txt-content"></div>

            <div class="blog-frag-media">
                <div class="media-images">
                    <ul class="media-image-list">
                        <li th:unless="${#lists.isEmpty(microblog.mediaFiles)}" th:each="media : ${microblog.mediaFiles}" th:style="'background-image: url(' + @{/upload/images/{id}(id=${media.id})} +  ');'"></li>
                    </ul>
                </div>

            </div>

            <!-- TODO: 视频 -->

        </div>

        <div class="blog-footer">
            <ul class="list-inline list-divide list-stretch">
                <li>收藏</li>
                <li>评论</li>
                <li>转载</li>
                <li>赞</li>
            </ul>
        </div>
    </div>

</div>
</html>