<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/base_temp_parts :: temp_header('我的首页', ~{})"></head>
<body>

<div id="main-content">

    <div id="header">

        <div class="container">
            <div id="header-search">
                <h1 id="header-title" class="nav-brand"><a th:href="@{/home.html}">微博</a></h1>
            </div>
            <div id="header-nav">
                <ul class="list-inline">
                    <li class="nav-brand">首页</li>
                </ul>
            </div>
        </div>
    </div>

    <div id="content" class="container">
        <div id="c_left-menu">
            <div class="left-menu-fill"></div>
            <div id="left-fixed-menu">
                <ul class="menu-group">
                    <li>首页</li>
                    <li>我的收藏</li>
                </ul>
                <ul class="menu-group">
                    <li>热门微博</li>
                    <li>热门话题</li>
                </ul>
            </div>
        </div>

        <div id="c_right-content">
            <div class="wb_main_c">
                <div class="fragment">
                    <div class="input">
                        <textarea autocomplete="off" class="W_input" id="blog-editor" title="微博输入框" name="" style="height: 68px; font-size: 14px; overflow-wrap: break-word; line-height: 18px; overflow: hidden; outline: medium none;"></textarea>
                    </div>
                    <div class="input-control">
                        <ul class="list-inline">
                            <li id="upload-image-btn">图片</li>
                            <li>话题</li>
                        </ul>
                        <button type="button" class="btn primary" id="submit-blog-btn">发布</button>
                    </div>
                </div>

                <div class="fragment" id="blog-nav">
                    <ul class="list-inline" id="blog-nav-list">
                        <li class="selected">全部</li>
                        <li>原创</li>
                        <li>图片</li>
                        <li>视频</li>
                    </ul>
                    <div id="refresh-btn">
                        <span>有新微博, 点击查看</span>
                    </div>
                </div>

                <div id="blog-list-view" class="blog-frags">
                    <script type="text/x-simple-template" id="template-blog">
                        <div class="fragment" data-microblog-id="{microBlogId}">

                            <div class="blog-opera-remove" data-microblog-id="{microBlogId}">
                                <a href="javascript:void(0);" class="icon close opera-remove-blog"></a>
                            </div>

                            <div class="blog-avatar-wrap">
                                <a class="avatar" target="_blank" th:href="@{/u/{authorId}.html}" href="userpage.html?userId={authorId}"></a>
                            </div>

                            <div class="blog-frag">

                                <div class="blog-frag-header">
                                    <h4 class="blog-frag-author"><a href="userpage.html?userId={authorId}" th:href="@{/u/{authorId}.html}">{username}</a></h4>
                                    <span class="blog-frag-time small">{time}</span>
                                </div>
                                <div class="blog-frag-txt-content">{content}</div>

                                <div class="blog-frag-media">
                                    <div class="media-images">
                                        <ul class="media-image-list"></ul>
                                    </div>

                                </div>

                                <!-- TODO: 视频 -->

                            </div>

                            <div class="blog-footer">
                                <ul class="list-inline list-divide list-stretch">
                                    <li data-id="{microBlogId}">收藏</li>
                                    <li data-id="{microBlogId}">评论</li>
                                    <li data-id="{microBlogId}">转载</li>
                                    <li data-id="{microBlogId}" class="blog-control-like" data-like-count="{like_count}"><i class="icon like"></i><span class="value">{like_count}</span></li>
                                </ul>
                            </div>
                        </div>
                    </script>

                    <script type="text/x-simple-template" id="template-single-image-item">
                        <li class="single" data-src="{imageUrl}" style="background-image: url({imageUrl});"></li>
                    </script>

                    <script type="text/x-simple-template" id="template-simple-image-item">
                        <li data-src="{imageUrl}" style="background-image: url({imageUrl});"></li>
                    </script>

                </div>
            </div>

            <div class="wb_main_r"></div>
        </div>

    </div>

</div>

<div id="footer" class="container"></div>

<script id="script-blog-list-view" th:inline="javascript">
    require([
        /*[[ @{/static/js/microblog} ]]*/ "/static/js/microblog"
    ], function (MicroBlog) {
        var newMicroBlog = /*[[${items}]]*/ [],
            ids = [],
            each;
        
        MicroBlog.appendMicroBlogRender(function (microBlog, $blog) {

            var rmBtn =$blog.querySelector(".blog-opera-remove");
            if (window._current_user && window._current_user.id === microBlog.author.id && rmBtn) {

                addEventListener(rmBtn, "click", function (event) {
                    var target = event.currentTarget,
                        microBlogId = target.dataset.microblogId;

                    Alert.show({
                        title: "",
                        text: "确定删除这条微博吗?",
                        okButtonText: "删除",
                        cancelButtonText: "取消",
                        showCancelButton: true,
                        closeOnOk: false,
                        callback: function (result) {

                            result && MicroBlog.removeMicroBlog(microBlogId, function () {
                                var mbFrag = document.querySelector("div.fragment[data-microblog-id='"+ microBlogId +"']");

                                mbFrag && mbFrag.remove();
                            });
                        }
                    });

                });
            } else {
                rmBtn.style.display = "none";
                rmBtn.style.visibility = "hidden";
            }
        });

        while (newMicroBlog.length > 0) {
            each = newMicroBlog.pop();
            MicroBlog.renderMicroBlog(each);
            ids.push(each.id);
        }

        window._current_user && MicroBlog.queryLikeStatus(ids);
    });
</script>
</body>
</html>