<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/base_temp_parts :: temp_header('我的首页', ~{})"></head>
<body>

<div id="main-content">

    <div id="header">

        <div class="container">
            <div id="header-search">
                <h1 id="header-title" class="nav-brand"><a th:href="@{/home.html}">微博</a></h1>
            </div>
            <div id="header-nav">
                <ul class="list-inline">
                    <li class="nav-brand" th:if="${session._current_logged_in_user}" th:text="${session._current_logged_in_user.name}"></li>
                    <li class="nav-brand">首页</li>
                    <li th:if="${session._current_logged_in_user}" id="logout" class="nav-brand">退出</li>
                </ul>
            </div>
            <script th:if="${session._current_logged_in_user}" th:inline="javascript">
                require(['lib/ajax'], function (ajax) {
                    addEventListener(document.querySelector("#logout"), "click", function () {
                        var logoutUrl = /*[[@{/ajax/user/logout}]]*/ null;
                        logoutUrl && ajax({url: logoutUrl, method: 'post', success: function () {
                            var loginUrl = /*[[@{/login.html}]]*/ null;
                            loginUrl && (window.location.href = loginUrl);
                        }});
                    });

                });
            </script>
        </div>
    </div>

    <div id="content" class="container">
        <div id="c_left-menu">
            <div class="left-menu-fill"></div>
            <div id="left-fixed-menu">
                <ul class="menu-group list-cl">
                    <li th:class="${#request.getParameter('mb_type') == null || #request.getParameter('mb_type') == 'all'} ? 'active' : ''" id="nav-mb-all"><a th:href="@{/home.html(mb_type='all')}">微博广场</a></li>
                    <li th:class="${#request.getParameter('mb_type') == 'sub'} ? 'active' : ''" id="nav-mb-sub"><a th:href="@{/home.html(mb_type='sub')}">我的关注</a></li>
                </ul>
                <ul class="menu-group list-cl">
                    <li th:class="${#request.getParameter('mb_type') == 'hot'} ? 'active' : ''"><a th:href="@{/home.html(mb_type='hot')}">热门微博</a></li>
                    <li>热门话题</li>
                </ul>
            </div>
        </div>

        <div id="c_right-content">
            <div class="wb_main_c">
                <div class="fragment">
                    <div class="input">
                        <textarea autocomplete="off" class="W_input" id="blog-editor" title="微博输入框" name="" style="height: 68px; font-size: 14px; overflow-wrap: break-word; line-height: 18px; overflow: hidden; outline: medium none;"></textarea>
                    </div>
                    <div class="input-control">
                        <ul class="list-inline list-cl">
                            <li id="upload-image-btn">图片</li>
                            <li>话题</li>
                        </ul>
                        <button type="button" class="btn primary disable" id="submit-blog-btn">发布</button>
                    </div>
                    <div id="upload-images-drag" class="media-images">
                        <script type="text/x-simple-template" id="template-uploaded-image-item">
                            <a data-src="{imageUrl}" data-img-id="{id}" style="background-image: url({imageUrl});"></a>
                        </script>
                        <div class="media-image-list">
                            <!-- 上传后的图片 #template-uploaded-image-item -->
                        </div>
                    </div>
                </div>

                <div class="fragment" id="blog-nav">
                    <ul class="list-inline" id="blog-nav-list">
                        <li class="selected">全部</li>
                        <li>原创</li>
                        <li>图片</li>
                        <li>视频</li>
                    </ul>
                    <div id="refresh-btn">
                        <a href="javascript:window.location.reload();">有新微博, 点击查看</a>
                    </div>
                </div>

                <div id="blog-list-view" class="blog-frags">
                    <script type="text/x-simple-template" id="template-blog">
                        <div class="fragment blog-frag" data-microblog-id="{id}">

                            <div class="blog-opera-remove" data-microblog-id="{id}">
                                <a href="javascript:void(0);" class="icon close opera-remove-blog"></a>
                            </div>

                            <div class="blog-avatar-wrap">
                                <a class="avatar" target="_blank" th:href="@{/u/{authorId}.html}" href="userpage.html?userId={authorId}"></a>
                            </div>

                            <div class="blog-frag-main">

                                <div class="blog-frag-header">
                                    <h4 class="blog-frag-author"><a href="userpage.html?userId={authorId}" th:href="@{/u/{authorId}.html}">{author.name}</a></h4>
                                    <span class="blog-frag-time small">{time}</span>
                                </div>
                                <div class="blog-frag-txt-content">{content}</div>

                                <div class="blog-frag-media">
                                    <div class="media-images">
                                        <ul class="media-image-list">
                                            <!-- 图片列表 #template-single-image-item|#template-simple-image-item -->
                                        </ul>
                                    </div>

                                </div>

                                <!-- TODO: 视频 -->

                            </div>

                            <div class="blog-footer">
                                <ul class="list-inline list-divide list-stretch">
                                    <li data-id="{id}">收藏</li>
                                    <li data-id="{id}" class="blog-control-comment" data-comment-count="{commentCount}">评论 <span class="value">{commentCount}</span></li>
                                    <li data-id="{id}">转载</li>
                                    <li data-id="{id}" class="blog-control-like" data-like-count="{likeCount}"><i class="icon like"></i><span class="value">{likeCount}</span></li>
                                </ul>

                                <div class="blog-footer-comment" style="display: none;">
                                    <div class="comment-editor input-group bottom-divide">
                                        <div class="input">
                                            <input type="text" class="WC_input" placeholder="请输入评论" title="请输入评论" style="resize: vertical;height: 18px; font-size: 14px; overflow-wrap: break-word; line-height: 18px; overflow: hidden; outline: medium none;">
                                        </div>

                                        <button type="button" class="submit-comment-btn input-group-btn btn disable primary">评论</button>
                                    </div>

                                    <div class="comment-list">
                                        <!-- 评论区 #template-comment-item -->
                                        <div class="hide-loading-switch" style="display: none;"></div>
                                        <div class="loading-comment">
                                            <i class="icon loading"></i><span>加载中...</span>
                                        </div>
                                    </div>
                                </div>

                                <a class="blog-more text-cl" th:href="@{/blog/{id}}" target="_blank">查看更多 &gt;</a>
                            </div>
                        </div>
                    </script>

                    <script type="text/x-simple-template" id="template-single-image-item">
                        <li class="single" data-src="{imageUrl}" data-img-id="{id}" style="background-image: url({imageUrl});"></li>
                    </script>

                    <script type="text/x-simple-template" id="template-simple-image-item">
                        <li data-src="{imageUrl}" data-img-id="{id}" style="background-image: url({imageUrl});"></li>
                    </script>

                    <script type="text/x-simple-template" id="template-comment-item">

                        <div class="comment-item bottom-divide" data-microblog-id="{microBlogId}" data-comment-id="{id}">
                            <div class="comment-avatar"><a th:href="@{/u/{userId}.html}" title="{user.name}" class="avatar"></a></div>
                            <div class="comment-content">
                                <div class="comment-text">
                                    <a href="userpage.html?userId={userId}" target="_blank" th:href="@{/u/{userId}.html}">{user.name}</a>:
                                    <span>{message}</span>
                                </div>
                                <div class="comment-time">
                                    <div class="text-small">
                                        {time}
                                        <ul class="comment-control list-inline list-divide list-cl">
                                            <li class="comment-delete" data-comment-id="{id}">删除</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </script>

                    <div class="loading-blog fragment">
                        <div class="text-cl">
                            <i class="icon loading"></i>
                            Loading...
                        </div>
                    </div>

                    <div class="fragment no-blog">
                        暂时没有微博
                    </div>
                </div>
            </div>

            <div class="wb_main_r">
                <div th:replace="base/base_temp_parts :: user_overview(${session._current_logged_in_user})"></div>
                <div th:replace="base/base_temp_parts :: user_info(${session._current_logged_in_user})"></div>
            </div>
        </div>

    </div>

</div>

<div th:replace="base/base_temp_parts :: temp_footer"></div>

<script th:inline="javascript" id="script-comment-render">
    require(["microblog", "comment"], function (MicroBlog, Comment) {

        "use strict";

        function promptLogin() {
            Alert.show({
                title: "登录后才能评论哟～",
                text: "是否跳转到登录页?",
                okButtonText: "跳转",
                cancelButtonText: "算了",
                showCancelButton: true,
                callback: function (result) {
                    result && (window.location.href = /*[[ @{/login.html} ]]*/ "/login.html");
                }
            });
        }

        // 绑定评论发送
        MicroBlog.appendMicroBlogRender(function (microBlog, $blog) {
            var $commentBtn = $blog.querySelector(".submit-comment-btn"),
                $navComment = $blog.querySelector(".blog-control-comment"),
                $editor = $blog.querySelector(".WC_input"),
                sendHandle;

            addEventListener($navComment, "click", function () {
                if (window._current_user) {
                    var $comList = $blog.querySelector(".blog-footer-comment"),
                        $list = Comment.queryCommentList(microBlog.id),
                        hideSwitch = $list.querySelector(".hide-loading-switch");

                    if ($comList) {

                        if ($comList.style.display === 'block') {
                            hideSwitch.classList.remove("comment-item");
                            $comList.style.display = "none";
                        } else {
                            Comment.clearCommentList(microBlog.id);
                            $comList.style.display = "block";

                            // 延时以显示加载...
                            setTimeout(function () {
                                Comment.fetchComments(microBlog.id, 1, 0, function (data) {
                                    data.items.length || hideSwitch.classList.add("comment-item");
                                });
                            }, 500);
                        }
                    }
                } else {
                    promptLogin();
                }
            });

            if ($commentBtn) {

                if (window._current_user) {
                    sendHandle = function () {
                        var mid = microBlog.id,
                            content;

                        if ($editor && $editor.value.trim()) {
                            content = $editor.value.trim();
                            Comment.sendComment(mid, content, function () {
                                var v = ++$navComment.dataset.commentCount;
                                $navComment.querySelector(".value").innerText = v;
                                $editor.value = "";
                                $commentBtn.classList.add("disable");
                            });
                        }
                    };

                    addEventListener($editor, "input,change,propertychange", function (event) {
                        event.currentTarget.value ? $commentBtn.classList.remove("disable") :
                            $commentBtn.classList.add("disable");
                    });
                } else {
                    sendHandle = promptLogin;
                }

                addEventListener($commentBtn, 'click', sendHandle);
            }
        });
    });
</script>

<script id="script-blog-list-view" th:inline="javascript">
    require(["microblog"], function (MicroBlog) {
        "use strict";

        var newMicroBlog = /*[[${items}]]*/ [],
            ids = [],
            each;

        MicroBlog.appendMicroBlogRender(function (microBlog, $blog) {

            var rmBtn = $blog.querySelector(".blog-opera-remove");
            if (window._current_user && window._current_user.id === microBlog.author.id && rmBtn) {

                addEventListener(rmBtn, "click", function (event) {
                    var target = event.currentTarget,
                        microBlogId = target.dataset.microblogId;

                    Alert.show({
                        title: "删除?",
                        text: "确定删除这条微博吗?",
                        okButtonText: "删除",
                        cancelButtonText: "取消",
                        showCancelButton: true,
                        closeOnOk: false,
                        callback: function (result) {

                            result && MicroBlog.removeMicroBlog(microBlogId, function () {
                                var mbFrag = document.querySelector("div.fragment[data-microblog-id='"+ microBlogId +"']");

                                mbFrag && mbFrag.remove();
                            });
                        }
                    });

                });
            } else {
                rmBtn.style.display = "none";
                rmBtn.style.visibility = "hidden";
            }
        });

        while (newMicroBlog.length > 0) {
            each = newMicroBlog.pop();
            MicroBlog.renderMicroBlog(each);
            ids.push(each.id);
        }

        window._current_user && MicroBlog.queryLikeStatus(ids);
    });

    require(["lib/scroll", "microblog"], function (scroll, microBlog) {
        var loading = document.querySelector(".loading-blog"),
            beforeId = document.querySelector(".blog-frag"),
            currentPage = /*[[${current_page}]]*/ 1,
            userId = /*[[${user} ? ${user.id} : null]]*/ null,
            type = /*[[${#request.getParameter('mb_type')}]]*/ 'default',
            stop = false;

        beforeId = beforeId ? beforeId.dataset.microblogId : 0;

        function queryStatus(data) {
            var i,
                ids = [];

            for (i=0;i<data.items.length;i++) {
                ids.push(data.items[i].id);
            }

            window._current_user && microBlog.queryLikeStatus(ids);
        }

        function hide(data) {
            loading.classList.remove("show");
            if (currentPage >= data.total_pages) {
                stop = true;
            }
        }

        function handleEnter(dom) {
            if (dom.classList.contains("show")) return;
            if (stop) return;

            dom.classList.add("show");
            setTimeout(function () {

                microBlog.fetchMicroBlog({
                    page: ++currentPage,
                    mid: beforeId,
                    type: type,
                    uid: userId,
                    tail: true,
                    callback: function (data) {
                        queryStatus(data);
                        hide(data);
                    }
                });
            }, 1000);
        }

        scroll.handleScroll(loading, handleEnter, null, true);
    });
</script>

</body>
</html>