<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/base_temp_parts :: temp_header(${user.equals(session._current_logged_in_user)} ? '我的主页' : |${user.name} 的主页|, ~{})"></head>
<body>


<div id="main-content">

    <div th:replace="homepage :: #header"></div>

    <div class="container">

        <div id="banner">

            <div class="user-avatar">
                <div class="avatar big"></div>
            </div>

            <div class="user-name">
                <h2 th:text="${user.name}" id="banner-username"></h2>
            </div>

            <div class="user-control">
                <ul class="list-inline list-center">
                    <li th:unless="${user.equals(session._current_logged_in_user)}">
                        <button id="subscribe-btn"
                                data-th-data-toggle-text="${subscribed} ? '关注' : '已关注'"
                                th:text="${subscribed} ? '已关注' : '关注'"
                                data-th-data-user-id="${user.id}"
                                data-toggle-class="disable"
                                data-th-data-toggle-status="${subscribed}"
                                th:class="'btn primary' + (${subscribed} ? ' disable' : '')"
                                type="button">关注</button>
                    </li>
                </ul>
            </div>

        </div>

        <div id="content">

            <div id="c_left-user_info">

                <div th:replace="base/base_temp_parts :: user_overview(${user})"></div>
                <div th:replace="base/base_temp_parts :: user_info(${user})"></div>

            </div>

            <div id="c_right-content">
                <div class="wb_main_c">
                    <div th:replace="homepage :: #blog-list-view"></div>
                </div>
            </div>

        </div>
    </div>

</div>

<div th:replace="base/base_temp_parts :: temp_footer"></div>

<script id="script-subscribe-user-from-userpage">
    require(['subscribe'], function (subscribe) {
        "use strict";
        var subBtn = document.querySelector("#subscribe-btn");

        subBtn && toggleClick(subBtn, function (status, btn, fn) {
            var uid = btn.dataset.userId;
            status ? subscribe.unsub(uid, fn) : subscribe.sub(uid, fn);
        });
    });
</script>
<script th:replace="homepage :: #script-comment-render"></script>
<script th:replace="homepage :: #script-blog-list-view"></script>
</body>
</html>