* {margin:0; padding:0;}

body {
    background: url(../img/bg_body_repeat.png)  #b4daef repeat-x top center;
}

body.bg-gradient {
    background: url(../img/reg_repeat_bg.png) #bee1f5 repeat-x;
}

#header-logo {
    background: url(../img/bg_reg_wave.png) no-repeat center;
    height: 186px;
}

#main-content {
    background: url(../img/body_bg.jpg) no-repeat top center;
    padding-top: 46px;
}

#header {
    background: rgba(255, 255, 255, 0.98);
    -webkit-box-shadow: 0 0 12px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 12px 1px rgba(0,0,0,0.2);
    box-shadow: 0 0 12px 1px rgba(0,0,0,0.2);
    height: 46px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    right: 0;
    z-index: 999;
}

#signup-plane {
    max-width: 500px;
    margin-bottom: 30px;
}

#reg-submit-wrap {
    padding: 10px 0 40px;
}

#header-title {
    font-weight: normal;
    font-style: italic;
    font-size: 24px;
    line-height: 46px;
    display: inline-block;
}

#header-title a {
    text-decoration: none;
    color: #333;
}

.nav-brand {
    height: 100%;
    padding: 0 5px;
}

.nav-brand:hover {
    background-color: rgba(250, 250, 250, 0.98);
}

#header-nav {
    float: right;
}

#header-nav > ul {
    line-height: 100%;
    height: 46px;
}

#header-nav > ul > li {
    height: 46px;
    line-height: 43px;
    border-bottom: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#header-nav > ul > li:hover {
    color: #ffa00a;
}

#header-search {
    float: left;
}

#content {
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: row;
}

#c_left-menu {
    width: 160px;
}

#c_left-menu > .left-menu-fill {
    width: 100%;
}

#c_left-menu > #left-fixed-menu {
    width: 150px;
    position: fixed;
    top: 46px;
    bottom: 0;
}

#c_left-menu .menu-group {
    padding: 10px 0;
    border-bottom: 1px solid rgba(255,255,255, 0.2);
    font-size: 13px;
}

#c_left-menu .menu-group:first-child {
    font-weight: bold;
    font-size: 14px;
}

#c_left-menu ul > li {
    padding-left: 15px;
    line-height: 36px;
    color: white;
}

#c_left-menu ul > li:hover,
#c_left-menu ul > li.active {
    background-color: rgba(181, 240, 255, 0.4);
}

#c_right-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 15px;
    z-index: 1;
}

#c_right-content .wb_main_c {
    margin-left: 10px;
    min-height:100px;
    flex-grow: 1;
    width: 100%;
    margin-right: 10px;
}

#c_right-content .wb_main_r {
    min-height:100px;
    width: 340px;
    margin-right: 10px;
}

#c_right-content > .fragment {
    margin: 0 10px;
    width: 100%;
}

.fragment {
    background-color: white;
    padding: 8px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 2px rgba(0,0,0,0.2);
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.fragment > .fragment-title {
    font-size: 16px;
    font-weight: bold;
    line-height: 2em;
    padding: 0 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #bbb;
}

.input {
    background-color: white;
    border: 1px solid #ccc;
    padding: 6px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.15) inset;
    -moz-box-shadow: 0 0 3px 0 rgba(0,0,0,0.15) inset;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.15) inset;
}

.input > textarea,
.input > input[type='text'] {
    border: none;
    background: transparent;
    width: 100%;
    resize: none;
    height: 68px;
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
    outline: medium none;
    overflow-wrap: break-word;
}

.input > textarea:focus,
.input > input[type='text'] {
    border-color: #ffa00a;
}

#blog-nav {
    padding: 5px 0 0 0;
}

#blog-nav > #refresh-btn {
    text-align: center;
    cursor: pointer;
    background-color: #ffe2c9;
    font-size: 12px;
    line-height: 2em;
}

#blog-nav > #refresh-btn * {
    color: #fc864f;
    display: inline-block;
    width: 100%;
}

#blog-nav-list {
    margin: 5px;
}

#blog-nav-list > li {
    margin: 0 10px;
    font-size: 13px;
    cursor: pointer;
}

#blog-nav-list > li.selected {
    font-weight:bold;
}

.blog-frag-main {
    margin-left: 68px;
}

.blog-frag-header > .blog-frag-author {
    font-size: 17px;
    font-weight: bold;
    line-height: 1.7em;
}

.blog-frag-header > .blog-frag-author a {
    color: black;
    text-decoration: none;
}

.blog-frag-header > .blog-frag-time {
    line-height: 2em;
}

.blog-frag-txt-content {
    font-size: 14px;
    line-height: 1.6em;
    max-height: 6.4em;
    overflow: hidden;
    padding-right: 10px;
}

.blog-frag-txt-content.open {
    height: auto;
}

.blog-footer > ul {
    margin: 14px 0 0;
    padding-bottom: 6px;
    line-height: 1.5em;
    font-size: 14px;
}

.blog-footer > ul > li,
.blog-footer > ul > li * {
    color: #888;
    cursor: pointer;
}

.blog-footer > ul > li:hover {
    color: #ffa00a;
}

.input-control {
    margin: 4px 0 0;
    display: flex;
    flex-direction: row;
}

.input-control > :first-child {
    flex-grow: 1;
    line-height: 30px;
    font-size: 14px;
}

.media-images {
    width: 342px;
    margin-top: 10px;
}

.media-images > .media-image-list {
    width: 100%;
    /*background-color: red;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.media-images > .media-image-list > * {
    width: 110px;
    height: 110px;
    margin: 2px;
    cursor: zoom-in;
    background: no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    display: inline-block;
}

.media-images .single {
    width: 320px;
    height: 240px;
    background-position-x: 0;
    -webkit-background-size: contain;
    background-size: contain;
}

.media-images .single ~ * {
    display: none;
    visibility: hidden;
}

.avatar {
    width: 50px;
    height: 50px;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    background: url(../img/default_avatar.png) no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.avatar.big {
    width: 100px;
    height: 100px;
    background-color: white;
}

.user-avatar {
    width: 100px;
    height: 100px;
    margin: 70px auto 6px;
}

.user-avatar > .avatar {
    -webkit-box-shadow: 0 0 1px 4px rgba(255,255,255,0.6);
    -moz-box-shadow: 0 0 1px 4px rgba(255,255,255,0.6);
    box-shadow: 0 0 1px 4px rgba(255,255,255,0.6);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.user-avatar > .avatar:hover {
    -webkit-box-shadow: 0 0 2px 6px rgba(255,255,255,0.8);
    -moz-box-shadow: 0 0 2px 6px rgba(255,255,255,0.8);
    box-shadow: 0 0 2px 6px rgba(255,255,255,0.8);
}

#banner {
    width: 100%;
    height: 300px;
    text-align: center;
    padding: 1px;
}

.blog-avatar-wrap {
    margin: 3px 10px;
    float: left;
    width: 50px;
    height: 50px;
    font-size: 15px;
    text-align: center;
}

#c_left-user_info {
    width: 470px;
    margin: 15px 0 0 10px;
}

#banner-username {
    font-size: 24px;
    color: #fff;
    text-shadow: 0 0 6px #555;
    line-height: 1.5em;
    font-weight: bold;
}

#banner {
    background: url(../img/user-banner.jpg) no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 300px;
    margin-top: 30px;
}

#user-overview {
    padding: 10px 0;
}

#user-info-detail {
    margin-left: 8px;
}

@media screen and (max-width: 900px){

    #c_left-user_info,
    #c_left-menu {
        display: none;
        visibility: hidden;
    }
}

@media screen and (max-width: 1200px) {

    .wb_main_r {
        display: none;
        visibility: hidden;
    }
}

.blog-opera-remove {
    float: right;
    margin: 6px;
    cursor: pointer;
}

.blog-frag {
    padding: 0;
}

.blog-frag > * {
    padding: 10px;
}

.blog-footer {
    padding: 0;
}

.blog-footer-comment {
    border-top: 1px solid #ddd;
    background-color: #f2f2f5;
    padding: 10px;
}

.comment-editor,
.comment-list {
    padding: 10px 10px 0;
}

.comment-item {
    padding: 10px 0;
    position: relative;
}

.comment-item > .comment-content {
    margin-left: 40px;
}

.comment-item > .comment-avatar > .avatar {
    width: 30px;
    height: 30px;
    position: absolute;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

#upload-images-drag {
    margin: auto;
}

#upload-images-drag > .media-image-list > * {
    cursor: all-scroll;
}

.loading-comment {
    text-align: center;
    font-size: 15px;
}

.loading-comment * {
    color: #888;
}

.comment-item ~ .loading-comment {
    display: none;
}

.blog-footer > .blog-more {
    border-top: 1px solid #ddd;
    width: 100%;
    line-height: 34px;
    background-color: #f2f2f5;
}

#go-top {
    position: fixed;
    display: inline-block;
    right: 35px;
    bottom: 45px;
    cursor: pointer;
    background-color: #ffa00a;
    visibility: hidden;
}

#go-top > .icon {
    font-size: 40px;
    margin:0;
}

#go-top:hover {
    background-color: #ff790d;
}

.no-blog {
    background-color: #f2f2f5;
    padding: 60px 0 20px;
    text-align: center;
    height: 120px;
}

.blog-frag ~ .no-blog,
.loading-blog.show ~ .no-blog {
    display: none;
}

.loading-blog {
    text-align: center;
    visibility: hidden;
    padding: 0;
    margin: 0;
    height: 0;
}

.loading-blog.show {
    visibility: visible;
    font-size: 14px;
    padding: 12px 0;
    height: auto;
    margin-bottom: 10px;
}

.loading-blog .icon {
    width: 30px;
    height: 30px;
}

.comment-control {
    float: right;
}

.comment-control > .comment-delete {
    visibility: hidden;
}

.user-list {
    width: 100%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    min-height: 110px;
}

.user-list > * {
    width: 40%;
    flex-grow: 1;
    margin: 5px;
    padding: 8px;
}

.user-card-detail {
    margin-left: 70px;
}

.user-card-detail * {
    line-height: 1em;
}

.pagin-list > .current {
    color: #ff790d;
}

.pagin-list > .disable,
.pagin-list > .disable:hover {
    color: #888;
    cursor: default;
}
