<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="temp_header(title, tags)">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/static/css/base.css}">
    <link rel="stylesheet" th:href="@{/static/css/main.css}">
    <link rel="stylesheet" th:href="@{/static/css/alert.css}">
    <script th:src="@{/static/js/lib/alert.js}"></script>
    <script th:src="@{/static/js/common.js}"></script>
    <script th:src="@{/static/js/lib/require.js}"></script>
    <link th:replace="${tags}">

    <script th:inline="javascript">
        /*[+
        window.config = {
            API_CONF: {
                MicroBlog: {
                    MICROBLOG_BASE: [[@{/ajax/microblog}]],
                    MICROBLOG_SPECIFIC: [[@{/ajax/microblog/{id}}]],
                    MICROBLOG_LIKE: [[@{/ajax/microblog/like}]]
                },
                Comment: {
                    COMMENT_BASE: [[@{/ajax/microblog/{mid}/comment}]]
                },
                Image: {
                    IMAGE_SPECIFIC_ID: [[@{/upload/images/{id}}]],
                    IMAGE_UPLOAD: [[@{/image/upload}]]
                }
            }
        };
        window._current_user = [[${session._current_logged_in_user}]];
        +]*/
        require.config({
            baseUrl: /*[[ @{/static/js/} ]]*/ "/static/js/"
        });
    </script>

</head>
</html>