<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="temp_header(title, tags)">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/static/css/base.css}">
    <link rel="stylesheet" th:href="@{/static/css/main.css}">
    <link rel="stylesheet" th:href="@{/static/css/alert.css}">
    <script th:src="@{/static/js/lib/alert.js}"></script>
    <script th:src="@{/static/js/common.js}"></script>
    <script th:src="@{/static/js/lib/require.js}"></script>
    <link th:replace="${tags}">

    <script th:inline="javascript">
        /*[+
        window.config = {
            API_CONF: {
                MicroBlog: {
                    MICROBLOG_BASE: [[@{/ajax/microblog}]],
                    MICROBLOG_SPECIFIC: [[@{/ajax/microblog/{id}}]],
                    MICROBLOG_LIKE: [[@{/ajax/microblog/like}]],
                    MICROBLOG_USER: [[@{/ajax/user/{uid}/microblog}]],
                    MICROBLOG_SUBSCRIBE: [[@{/ajax/microblog/subscribed}]]
                },
                Comment: {
                    COMMENT_BASE: [[@{/ajax/microblog/{mid}/comment}]],
                    COMMENT_SPECIFIC: [[@{/ajax/microblog/{mid}/comment/{id}}]]
                },
                Image: {
                    IMAGE_SPECIFIC_ID: [[@{/upload/images/{id}}]],
                    IMAGE_UPLOAD: [[@{/image/upload}]]
                },
                Subscribe: {
                    SUBSCRIBE: [[@{/ajax/user/{uid}/subscribe}]],
                    UNSUBSCRIBE: [[@{/ajax/user/{uid}/unsubscribe}]],
                    FOLLOWER: [[@{/ajax/user/{uid}/follower}]],
                    FOLLOWING: [[@{/ajax/user/{uid}/following}]]
                }
            }
        };
        window._current_user = [[${session._current_logged_in_user}]];
        +]*/
        require.config({
            baseUrl: /*[[ @{/static/js/} ]]*/ "/static/js/"
        });
    </script>

</head>

<div id="footer" th:fragment="temp_footer">
    <div id="go-top" data-href="body">
        <i class="icon top"></i>
    </div>
    <script>
        require(["lib/scroll"], function (scroll) {
            var top = document.querySelector("#go-top");
            scroll.handleAnchor(top);

            addEventListener(document, "scroll", function (event) {
                var scrollTop = scroll.top();

                if (scrollTop <= 20) {
                    top.style.visibility = "hidden";
                } else {
                    top.style.visibility = "visible";
                }
            });
        });
    </script>
</div>

<div th:fragment="user_info(user)" class="fragment">
    <table id="user-info-detail">
        <tbody>
        <tr>
            <td class="text-small">用户:</td>
            <td class="text-small" th:text="${user.name}"></td>
        </tr>
        <tr>
            <td class="text-small">邮箱:</td>
            <td class="text-small" th:text="${user.email}"></td>
        </tr>
        <tr>
            <td class="text-small">注册时间:</td>
            <td class="text-small" th:text="${#dates.format(user.registerTimestamp, 'yyyy年MM月dd日 HH:mm:ss')}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:fragment="user_overview(user)" class="fragment">
    <ul id="user-overview" class="list-inline list-divide list-stretch">
        <li>
            <a th:href="@{/u/{id}/following(id=${user.id})}" target="_blank">
                <h4>关注</h4>
                <span class="text-small" th:text="${user.followingCount}">0</span>
            </a>
        </li>
        <li>
            <a th:href="@{/u/{id}/follower(id=${user.id})}" target="_blank">
                <h4>粉丝</h4>
                <span class="text-small" th:text="${user.followerCount}">0</span>
            </a>
        </li>
        <li>
            <a th:href="@{/u/{id}.html(id=${user.id})}" target="_blank">
                <h4>微博</h4>
                <span class="text-small" th:text="${user.blogCount}">0</span>
            </a>
        </li>
    </ul>
</div>

<div th:fragment="pagination(page, headTailCount, prevNextCount)"
     th:with="currentPage = ${page.number + 1},
      totalPages = ${page.totalPages <= 0 ? 1 : page.totalPages}" class="pagination">
    <ul class="list-inline list-center list-cl pagin-list"
        th:if="${totalPages <= headTailCount * 2 + prevNextCount * 2 + 1}">
        <li th:class="${page.hasPrevious() ? '' : 'disable'}">
            <a th:if="${page.hasPrevious()}" th:href="@{?(page=${currentPage - 1}, limit=${page.pageable.pageSize})}" href="javascript:void(0);">上一页</a>
            <a th:unless="${page.hasPrevious()}" href="javascript:void(0);">上一页</a>
        </li>
        <li th:if="${totalPages <= headTailCount * 2 + prevNextCount * 2 + 1}"
            th:each="i : ${#numbers.sequence(1, totalPages)}"
            th:class="${i == currentPage ? 'current' : ''}">
            <a th:href="@{?(page=${i}, limit=${page.pageable.pageSize})}" th:text="${i}"></a>
        </li>
        <li th:class="${page.hasNext() ? '' : 'disable'}">
            <a th:if="${page.hasNext()}" th:href="@{?(page=${currentPage+1}, limit=${page.pageable.pageSize})}" href="javascript:void(0);">下一页</a>
            <a th:unless="${page.hasNext()}" href="javascript:void(0);">下一页</a>
        </li>
    </ul>
    <ul th:if="${totalPages > headTailCount * 2 + prevNextCount * 2 + 1}"
        class="list-inline list-center list-cl pagin-list">

        <li th:class="${page.hasPrevious() ? '' : 'disable'}">
            <a th:if="${page.hasPrevious()}" th:href="@{?(page=${currentPage - 1}, limit=${page.pageable.pageSize})}" href="javascript:void(0);">上一页</a>
            <a th:unless="${page.hasPrevious()}" href="javascript:void(0);">上一页</a>
        </li>

        <!-- if currentPage <= 2 + 1 + 1-->
        <li th:unless="${currentPage gt headTailCount + prevNextCount + 1}"
            th:each="i : ${#numbers.sequence(1, currentPage + prevNextCount)}"
            th:class="${i == currentPage ? 'current' : ''}">
            <a th:href="@{?(page=${i}, limit=${page.pageable.pageSize})}" th:text="${i + '1i'}"></a>
        </li>
        <!-- else -->
        <li th:if="${currentPage gt headTailCount + prevNextCount + 1}"
            th:each="i : ${#numbers.sequence(1, headTailCount)}"
            th:class="${i == currentPage ? 'current' : ''}">
            <a th:href="@{?(page=${i}, limit=${page.pageable.pageSize})}" th:text="${i + '1e'}"></a>
        </li>
        <li th:if="${currentPage gt headTailCount + prevNextCount + 1}" class="disable">...</li>
        <!-- endif -->

        <li th:if="${currentPage gt headTailCount + prevNextCount + 1
         && currentPage < totalPages - headTailCount - prevNextCount}"
            th:each="i : ${#numbers.sequence(currentPage - prevNextCount, currentPage + prevNextCount)}"
            th:class="${i == currentPage ? 'current' : ''}">
            <a th:href="@{?(page=${i}, limit=${page.pageable.pageSize})}" th:text="${i + 'ie'}"></a>
        </li>

        <!--if currentPage >= 2 + 1 + 1-->
        <li th:unless="${currentPage lt totalPages - headTailCount - prevNextCount}"
            th:each="i : ${#numbers.sequence(currentPage - prevNextCount, totalPages)}"
            th:class="${i == currentPage ? 'current' : ''}">
            <a th:href="@{?(page=${i}, limit=${page.pageable.pageSize})}" th:text="${i + '2i'}"></a>
        </li>
        <!-- else -->
        <li th:if="${currentPage lt totalPages - headTailCount - prevNextCount}" class="disable">...</li>
        <li th:if="${currentPage lt totalPages - headTailCount - prevNextCount}"
            th:each="i : ${#numbers.sequence(totalPages - headTailCount + 1, totalPages)}"
            th:class="${i == currentPage ? 'current' : ''}">
            <a th:href="@{?(page=${i}, limit=${page.pageable.pageSize})}" th:text="${i + '2e'}"></a>
        </li>
        <!-- endif -->

        <li th:class="${page.hasNext() ? '' : 'disable'}">
            <a th:if="${page.hasNext()}" th:href="@{?(page=${currentPage+1}, limit=${page.pageable.pageSize})}" href="javascript:void(0);">下一页</a>
            <a th:unless="${page.hasNext()}" href="javascript:void(0);">下一页</a>
        </li>
    </ul>
</div>
</html>